.fullscreen-blur {
    position: absolute; // now sits behind the list
    //inset: 0; // shorthand for top:0; right:0; bottom:0; left:0;
    background-color: rgba(0,0,0,0.4);
    backdrop-filter: blur(8px);
    z-index: 0;
    height: 100%;
    width: 20%;
}

.create-lobby-container {
    display: flex;
    flex-direction: row;
    padding: 2vh;
    height: 98%;
    width: 100%;
    pointer-events: all;
    justify-content: space-between;

    .left-side-container {
        display: flex;
        flex-direction: column;
        gap: 2vh;
        justify-content: space-between;
        //margin: 1vw;
        //flex: 1 1 auto;
        max-width: 20vw;
        max-height: 100vh;

        

        .title {
            color: red;
            font-size: 20%;
            //background-color: green;
        }


        .chosen-container {
            padding-top: 2vh;
            display: flex;
            flex: 1 1 auto;
            //flex-direction: column;
            //background-color: orange;
        }


        .buttons-wrapper {
            display: flex;
            flex-direction: column;
            color: lightgray;
            font-size: 3.5vh;
            gap: 2vh;
            font-family: 'Montserrat';
        }

        .button-start {


            &.disabled {
                pointer-events: none;
            }
        }

        .button-browse {


            &.disabled {
                pointer-events: none;
            }
        }

        .button-game-options {


            &.disabled {
                pointer-events: none;
            }
        }

        .button {
            transition: transform 0.08s ease-out, color 0.05s linear;
            width: 75%;



            &:hover {
                color: floralwhite;
            }
        }
    }

    .right-side-container {
        height: 50%;
        width: 20%;
        align-self: center;
        //border: 5px solid red;
        //justify-self: right;
    }

    &.hidden {
        opacity: 0;
    }
}
