.play-container {
    .button-containers {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none; // only children will interact

        .button-join {
            position: absolute;
            bottom: 20%; // adjust so it lines up with your gate
            right: 60%; // adjust horizontally
            width: 35%; // span across gate
            height: 50%; // fill vertically
            //background-color: red; // debug red tint, remove later
            /* border-color: red;
            border-width: 1rem;*/
            pointer-events: all;
            cursor: pointer;
            font-size: 2vw;
            font-family: Mostly Ghostly;
            transition: transform 0.2s, color 0.2s;
            justify-content: center;
            color: gray;

            &:hover {
                color: white;
            }
        }


        .button-create {
            position: absolute;
            bottom: 20%; // adjust so it lines up with your gate
            right: 7%; // adjust horizontally
            width: 35%; // span across gate
            height: 50%; // fill vertically
            //background-color: red; // debug red tint, remove later
            /*border-color: red;
            border-width: .5rem;*/
            pointer-events: all;
            cursor: pointer;
            font-size: 2vw;
            font-family: Mostly Ghostly;
            transition: transform 0.08s ease-out, color 0.05s linear;
            color: gray;

            &:hover {
                color: white;
            }

            justify-content: center;
        }
    }

    &.hidden {
        opacity: 0;
    }
}
