.chosen-map-container {
    //display: flex;
    //flex-direction: column;
    //flex: 1 1 auto;
    color: white;
    //flex: 0 1 auto;





    .chosen-info-container {
        //display: flex;
        display: flex;
        flex-direction: column;
        gap: 1vh;


        .chosen-map-title {
            font-size: 50%;
            font-weight: bold;
            align-self: center;
            
            text-decoration: underline;
            text-decoration-thickness: 3px;
        }

        .chosen-map-thumbnail {
            width: 16vw;
            height: 25vh;
            align-self: center;
            //background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            //flex: 0 1 auto;
        }

        .map-text-info-wrapper {
            display: flex;
            justify-content: space-between;

            .chosen-author {
                font-family: 'Montserrat';
                font-weight: bold;
            }


            .map-votes-wrapper {
                display: flex;
                flex-direction: row;
                gap: .5rem;
                align-items: center;

                .thumbs-up-icon {
                    font-family: 'Material Icons';
                    color: limegreen;
                    font-size: 24%;
                }

                .chosen-up-votes {
                    color: limegreen;
                    font-family: 'Montserrat';
                }

                .thumbs-down-icon {
                    font-family: 'Material Icons';
                    color: red;
                    font-size: 24%;
                }

                .chosen-down-votes {
                    color: red;
                    font-family: 'Montserrat';
                }
            }
        }

        .chosen-text-description {
            font-size: 1.5%;
            font-family: 'Montserrat';
        }
    }
}
