.fullscreen-blur {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.2);
    backdrop-filter: blur(8px);
    
    z-index: 0;
}
.screen-blocker {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0);
    z-index: 0;
    pointer-events: all;
}

.create-menu-container {
    position: absolute;
    width: 70%;
    height: 70%;
    top: 15%;
    left: 15%;
    padding: 16px;
    background-image: url("ui/imagebackground4.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    .menu-options-container {
        display: flex;
        position: relative;
        flex-direction: column;
        left: 13%;
        top: 5%;
        width: 75%;
        height: 90%;
        justify-content: space-evenly;
        pointer-events: all;


        .inputs-line-players {
            display: flex;
            flex-direction: row;
            width: 65%;
            height: 20%;
            font-size: 24px;
            font-family: 'Montserrat';
            color: white;
            justify-content: space-between;

            .inputs-players {
                display: flex;
                align-self: center;
                text-align: center;
                font-size: 46px;
                color: white;
                font-family: 'Montserrat';
                font-weight: bold;
                padding-bottom: 5%;
            }



            .slider-maxplayer {
                display: flex;
                flex-direction: column;
                width: 50%;
                color: black;





                .player-slider {
                    width: 100%;
                    color: black;
                }


                .inputs-maxplayers {
                    text-align: center;
                    align-self: center;
                    font-size: 32px;
                    color: white;
                    font-family: 'Montserrat';
                }
            }
        }

        .inputs-line-invite {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 45%;
            justify-content: space-between;
            font-size: 32px;
            color: white;
            gap: 5rem;
            pointer-events: all;
            white-space: nowrap;
            //border-width: 5px;

            .inputs-text {
                font-size: 46px;
                font-family: 'Montserrat';
                font-weight: bold;
            }

            .checkbox {
                width: 35px;
                height: 35px;
                background-color: #303234;
                border-radius: 5px;

                &.checked {
                    background-color: white;
                }


                &:hover {
                    background-color: rgba(245, 245, 245, 0.5);
                }
            }

            &.unclickable {
                pointer-events: none;
                color: #303234;
            }
        }

        .inputs-line-friends {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 45%;
            justify-content: space-between;
            font-size: 32px;
            color: white;
            gap: 5rem;
            pointer-events: all;
            white-space: nowrap;

            .inputs-text {
                font-size: 46px;
                font-family: 'Montserrat';
                font-weight: bold;
            }

            .checkbox {
                width: 35px;
                height: 35px;
                background-color: #303234;
                border-radius: 5px;

                &.checked {
                    background-color: white;
                }

                &:hover {
                    background-color: rgba(245, 245, 245, 0.5);
                }
            }

            &.unclickable {
                pointer-events: none;
                color: #303234;
            }
        }




        .create-button-wrapper {
            display: flex;
            justify-content: center;
            color: darkgray;
            font-size: 64px;
            font-family: Mostly Ghostly;

            .create-lobby-button {
                border-radius: 1rem;
                transition: transform 0.08s ease-out, color 0.05s linear;

                &:hover {
                    color: white;
                }
            }
        }
    }
}

