@keyframes marquee {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

.card-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    /* border-width: .1rem;
    border-radius: .5rem;*/
    padding: .2rem;

    .map-title-wrapper {
        width: 100%;
        position: relative;
        justify-content: center;
        align-items: flex-start;
        color: white;

        .map-title {
            white-space: nowrap;
            font-size: 16px;
            font-weight: bold;
            transform: translateX(0);
            /*text-decoration: underline;
            text-decoration-color: white;*/
        }
    }


    &:hover {
        border-width: .1rem;
        border-radius: .5rem;
        border-color: white;
    }

    .bg-image {
        width: 100%;
        flex: 1 1 auto;
        border-radius: 1rem;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }


    &:hover .map-title {
        animation: marquee 5s linear forwards;
        color: gold;
        border-color: gold;
        overflow: visible;
        animation-iteration-count: infinite;
    }


    .bottom-card {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: white;

        .author {
            white-space: nowrap;
            overflow: hidden;
            font-weight: bold;
            text-overflow: ellipsis;
        }

        .map-rating {

            .thumbs-up-icon {
                font-family: 'Material Icons';
                color: limegreen;
                //font-size: 24%;
            }

            .map-up-votes {
                color: limegreen;
                white-space: nowrap;
                overflow: hidden;
                font-weight: bold;
                text-overflow: ellipsis;
            }

            .thumbs-down-icon {
                font-family: 'Material Icons';
                color: red;
                //font-size: 24%;
            }

            .map-down-votes {
                color: red;
                white-space: nowrap;
                overflow: hidden;
                font-weight: bold;
                text-overflow: ellipsis;
            }
        }
    }
}
