.fullscreen-blur {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.2);
    backdrop-filter: blur(2px);
    z-index: 0;
}

.map-selector-container-root {
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    background-image: url("ui/imagebackground4.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: all;

    .map-selector-container {
        position: absolute;
        top: 10%;
        left: 10%;
        height: 80%;
        flex-direction: row;
        pointer-events: all;
        align-items: flex-start;
        display: flex;
        width: 80%;
        gap: 1rem;

        .map-filters {
            /*border-color: blue;
            border-width: 2px;*/
            display: flex;
            flex-direction: column;
            color: white;
            height: 100%;
            width: 11%;
            flex-shrink: 0;
            font-family: 'Montserrat';
            text-align: center;
            gap: 1rem;
            font-weight: bold;
            font-size: 24px;

            .map-filters-wrapper {
                padding-top: 5vh;
                flex-direction: column;
                justify-content: space-evenly;
                color: white;
                font-family: 'Montserrat';

                .filter-line {
                    font-size: 1.5vh;
                    justify-content: space-between;

                    .inputs-checkbox {
                        border-width: .05vw;
                        border-radius: 1vh;
                    }
                }
            }
        }

        .filter-map-divider {
            width: 1px;
            height: 80%;
            background-color: white;
            align-self: center;
            flex-shrink: 0;
        }

        .map-grid {
            /*border-color: blue;
            border-width: 2px;*/
            display: flex;
            flex-wrap: wrap;
            gap: 1vh;
            padding: 1vh;
            overflow-y: scroll;
            overflow-x: hidden;
            //border-width: .1vw;
            height: 100%;
            width: 100%;

            .map-card {
                width: 10.3vw;
                height: 17.5vh;
                //flex: 0 0 10.3vw;
                background-size: cover;
                background-position: center;
                overflow: hidden;
                position: relative;
            }
        }

        .chosen-map-container {
            /*border-color: blue;
            border-width: 2px;*/
            display: flex;
            flex-direction: column;
            color: white;
            gap: 1rem;
            padding: 1vh;
            overflow: hidden;
            display: flex;
            position: relative;
            height: 100%;
            width: 25%;
            flex-shrink: 0;

            .the-map-title {
                font-family: 'Montserrat';
                font-size: 2.5vh;
                align-self: center;
                flex-shrink: 0;
                font-weight: bold;
                white-space: nowrap;
                text-overflow: ellipsis;
                //text-decoration: underline;
            }

            .the-map-thumbnail {
                height: 256px;
                width: 256px;
                align-self: center;
            }

            .author-vote-wrapper {
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                text-align: center;


                .the-map-author {
                    font-family: 'Montserrat';
                    font-weight: bold;
                }

                .map-votes {
                    display: flex;
                    flex-direction: row;
                    gap: 1rem;
                    align-items: center;


                    .map-vote-ups {
                        color: limegreen;
                        gap: .25rem;

                        .the-map-up {
                            font-family: 'Material Icons';
                        }
                    }

                    .map-vote-downs {
                        color: red;
                        gap: .25rem;

                        .the-map-down {
                            font-family: 'Material Icons';
                        }
                    }
                }
            }

            .the-map-description {
                flex-shrink: 0;
                font-size: 1.2vw;
                overflow: scroll;
                //background-color: green;
                /*border-color: green;
                border-width: 2px;*/
            }

            .select-map-button {
                margin-top: 2vh;
                padding: 1vh;
                flex-shrink: 0;
                align-self: center;
                font-size: 5vh;
                margin-top: auto;
                font-family: Mostly Ghostly;
                //border-width: .2vh;
                //background-color: yellow;
                &:hover {
                    color: floralwhite;
                    text-shadow: 1px 1px 2px floralwhite, 0 0 1em floralwhite, 0 0 0.2em floralwhite;
                }
            }
        }
    }
}