.menu {
    .title {
        position: absolute;
        top: 0%;
        left: 31.5%;
        font-family: Mostly Ghostly;
        font-size: 6vw;
        color: red;
        overflow: visible;
        padding: 0 1vw;
        text-shadow: .75px .75px 1.1px red;
        justify-content: center;
    }

    .buttons-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none; // only children will interact

        .button-play {
            position: absolute;
            top: 22%; // adjust so it lines up with your gate
            left: 40%; // adjust horizontally
            width: 20%; // span across gate
            height: 38%; // fill vertically
            //background-color: red; // debug red tint, remove later
           /* border-color: red;
            border-width: 1rem;*/
            pointer-events: all;
            cursor: pointer;
            font-size: 2vw;
            font-family: Mostly Ghostly;
            transition: transform 0.2s, color 0.2s;
            justify-content: center;
            color: gray;

            &:hover {
                color: white;
            }
        }

        .button-leaderboards {
            position: absolute;
            left: 1vw;
            top: 30vh;
            height: 68%;
            width: 34%;
            font-size: 2vw;
            font-family: Mostly Ghostly;
            color: gray;
            pointer-events: all;
            cursor: pointer;
            /*border-color: red;
            border-width: 1rem;*/
            transition: transform 0.2s, color 0.2s;
            justify-content: center;

            &:hover {
                color: white;
            }
        }

        .button-customize {
            position: absolute;
            bottom: 11%; // adjust so it lines up with your gate
            right: 1%; // adjust horizontally
            width: 40%; // span across gate
            height: 45%; // fill vertically
            //background-color: red; // debug red tint, remove later
            /*border-color: red;
            border-width: .5rem;*/
            pointer-events: all;
            cursor: pointer;
            font-size: 2vw;
            font-family: Mostly Ghostly;
            transition: transform 0.2s, color 0.2s;
            color: gray;

            &:hover {
                color: white;
            }

            justify-content: center;
        }





        .esc-hint {
            position: absolute;
            bottom: 2vh;
            right: 3vw;
            font-size: 1.5vw;
            font-family: Mostly Ghostly;
            color: gray;
            pointer-events: none;
        }

        .button-options,
        .button-quit {
            display: none; // hidden, replaced by [ESC] Menu
        }
    }

    .motd {
        position: absolute;
        right: 46vw;
        bottom: 4vh;
        flex-direction: column;
        align-items: flex-end;
        padding-bottom: 1vh;
    }
}





/*.menu {
    //display: flex;
    //flex-direction: row;
    justify-content: space-between;
    //padding: 1.75vw;
    width: 67vw;
    height: 100vh;
    opacity: 1;
    pointer-events: all;
    overflow: visible;

    &.hidden {
        opacity: 0;
    }

    .title {
        font-family: Mostly Ghostly;
        font-size: 6vw;
        color: red;
        overflow: visible;
        padding: 0 1vw;
        text-shadow: .75px .75px 1.1px red;
        justify-content: center;
    }


    .left-side-container {
        display: flex;
        flex-direction: column;
        gap: 3.5vh;
        align-items: flex-start;
        pointer-events: all;
        height: 100%;
        //width: 25%;
        justify-content: space-between;
        overflow: visible;


        .bg-strip {
            background-color: black;
            //width: 10vw;
            //background-color: black;

            &::after {
                //content: "";
                //position: absolute;
                position: absolute;
                //top: 0;
                //left: 0vw;
                width: 25%;
                height: 100%;
                background: linear-gradient(to right, black 0%, black 60%, transparent 80%, transparent 100%);
                pointer-events: none;
            }
        }




        .buttons-container {
            display: flex;
            padding-left: 2vw;
            flex-direction: column;


            .button {
                font-size: 2vw;
                font-family: Mostly Ghostly;
                color: white;
                cursor: pointer;
                transition: background 0.3s;

                &:hover {
                    background-image: url(ui/images/favpng_b8f4c8ee5c84df0b4738672ad0ccad05.png);
                    color: darkred;
                    background-repeat: no-repeat;
                    background-position: left;
                    background-size: contain;
                    overflow: visible;
                    transform: scale(1.35);
                    color: gold;
                }
            }

            .button-customize,
            .button-leaderboards {
                pointer-events: none;
                color: gray;

                &:hover {
                    background-image: none;
                    transform: none;
                }
            }
        }



        .motd {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding-bottom: 1vh;
        }
    }
}







.back-button-container {
    position: absolute;
    bottom: 2vh;
    right: 5vw;
    pointer-events: all;
    z-index: 9999;
    .back-button {
        color: white;
        font-size: 3vw;
        font-family: HEROLD;

        &:hover {
            // background-image: url(ui/images/favpng_b8f4c8ee5c84df0b4738672ad0ccad05.png);
            color: darkred;
            //background-repeat: no-repeat;
            //background-position: left;
            //background-size: contain;
            overflow: visible;
            transform: scale(1.35);
            color: gold;
        }
    }

    &.hidden {
        opacity: 0;
    }
}







*/